/* Write your global styles here, in PostCSS syntax */

:root {
	--color-primary-dark: oklch(50% 0.19 35);
	--color-primary-light: oklch(60% 0.15 30);
	--color-primary-lighter: oklch(65% 0.13 29);
	--color-secondary-dark: oklch(10% 0.19 145);
	--color-secondary-light: oklch(50% 0.19 145);
	--color-tertiary-light: oklch(65% 0.2 330);
	--color-tertiary-dark: oklch(40% 0.2 330);
}

body {
	margin: 0;
}

button:hover {
	cursor: pointer;
}